<!DOCTYPE html>

<html>

    <head>

        <title>제목표시줄</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    </head>

    <body>
        <h1>제목입니다.</h1>
        <button class="btn btn-info">버튼</button>
        <p>안녕하세요</p>
        <p class="import">안녕2</p>
        <p class="import" id="smallP">안녕2</p> //제일처음이 본문에다가 표기, 그다음이 id, 그다음이import, 그다음이 p
        <img src="https://www.ajou.ac.kr/_res/ajou/kr/img/intro/img-symbol.png" alt="Italian Trulli">
    </body>
    <style>
        p{
            background-color: rgba(255, 0, 0, 0.355);
        }

        .import{
            background-color: rgb(8,250, 36);
            font-size: large;
        }

        #smallP{
            font-size: small;
        }
    </style>
    <script>
        //돌아갈 프로그램 코드
    </script>


</html>